In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# First, let's see what our data looks like
import pandas as pd

# Read the data file
df = pd.read_csv(r'D:\Elevate Labs Assingments\Day 1\archive (3)\marketing_campaign.csv', sep='\t')

# Let's see the first few rows
print(df.head())

# Let's see what columns we have
print(df.columns.tolist())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]
['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']

In [ ]:
# Let's check a few rows to understand our data better
print("Let's see what kind of data we have in each column:")
print("=" * 50)

# Check first 3 rows of important columns
columns_to_check = ['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Dt_Customer']
for col in columns_to_check:
    print(f"{col}: {df[col].head(3).tolist()}")

Let's see what kind of data we have in each column:
==================================================
ID: [5524, 2174, 4141]
Year_Birth: [1957, 1954, 1965]
Education: ['Graduation', 'Graduation', 'Graduation']
Marital_Status: ['Single', 'Single', 'Together']
Income: [58138.0, 46344.0, 71613.0]
Dt_Customer: ['04-09-2012', '08-03-2014', '21-08-2013']

In [ ]:
print("Converting number columns...")

# Columns that should be whole numbers (integers)
integer_columns = [
    'ID', 'Year_Birth', 'Kidhome', 'Teenhome', 'Recency',
    'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 
    'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 
    'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 
    'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5',
    'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Response'
]

for col in integer_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)
    print(f"Done {col} to whole numbers")

# Income might have decimals, so we'll keep it as decimal number
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')
print("Done Income to decimal numbers")

# These two columns seem to be the same for everyone
df['Z_CostContact'] = pd.to_numeric(df['Z_CostContact'], errors='coerce').fillna(0).astype(int)
df['Z_Revenue'] = pd.to_numeric(df['Z_Revenue'], errors='coerce').fillna(0).astype(int)
print("Done Z_CostContact and Z_Revenue to whole number")

Converting number columns...
Done ID to whole numbers
Done Year_Birth to whole numbers
Done Kidhome to whole numbers
Done Teenhome to whole numbers
Done Recency to whole numbers
Done MntWines to whole numbers
Done MntFruits to whole numbers
Done MntMeatProducts to whole numbers
Done MntFishProducts to whole numbers
Done MntSweetProducts to whole numbers
Done MntGoldProds to whole numbers
Done NumDealsPurchases to whole numbers
Done NumWebPurchases to whole numbers
Done NumCatalogPurchases to whole numbers
Done NumStorePurchases to whole numbers
Done NumWebVisitsMonth to whole numbers
Done AcceptedCmp3 to whole numbers
Done AcceptedCmp4 to whole numbers
Done AcceptedCmp5 to whole numbers
Done AcceptedCmp1 to whole numbers
Done AcceptedCmp2 to whole numbers
Done Complain to whole numbers
Done Response to whole numbers
Done Income to decimal numbers
Done Z_CostContact and Z_Revenue to whole number

In [ ]:
# coverting to datetime format in the Dt_Customer
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%d-%m-%Y', errors='coerce')
print("Done")

Done

In [ ]:
print("\nConverting text categories...")
df['Education'] = df['Education'].astype('category')
df['Marital_Status'] = df['Marital_Status'].astype('category')
print("Done Education and Marital_Status to categories")

Converting text categories...
Done Education and Marital_Status to categories

In [ ]:
print(df.dtypes)

sample_data = df[['ID', 'Year_Birth', 'Education', 'Income', 'Dt_Customer']].head()
print(sample_data)

ID                              int32
Year_Birth                      int32
Education                    category
Marital_Status               category
Income                        float64
Kidhome                         int32
Teenhome                        int32
Dt_Customer            datetime64[ns]
Recency                         int32
MntWines                        int32
MntFruits                       int32
MntMeatProducts                 int32
MntFishProducts                 int32
MntSweetProducts                int32
MntGoldProds                    int32
NumDealsPurchases               int32
NumWebPurchases                 int32
NumCatalogPurchases             int32
NumStorePurchases               int32
NumWebVisitsMonth               int32
AcceptedCmp3                    int32
AcceptedCmp4                    int32
AcceptedCmp5                    int32
AcceptedCmp1                    int32
AcceptedCmp2                    int32
Complain                        int32
Z_CostContact                   int32
Z_Revenue                       int32
Response                        int32
dtype: object
     ID  Year_Birth   Education   Income Dt_Customer
0  5524        1957  Graduation  58138.0  2012-09-04
1  2174        1954  Graduation  46344.0  2014-03-08
2  4141        1965  Graduation  71613.0  2013-08-21
3  6182        1984  Graduation  26646.0  2014-02-10
4  5324        1981         PhD  58293.0  2014-01-19

In [ ]:
print("\nChecking for missing data...")
missing_data = df.isnull().sum()
print("Missing values in each column:")
print(missing_data)

Checking for missing data...
Missing values in each column:
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [ ]:
# If Income has missing values, let's fill them with the average
if df['Income'].isnull().sum() > 0:
    average_income = df['Income'].mean()
    df['Income'] = df['Income'].fillna(average_income)
    print(f" Filled {df['Income'].isnull().sum()} missing Income values with average: {average_income:.2f}")

print(f"Total missing values now: {df.isnull().sum().sum()}")

Total missing values now: 0

In [ ]:
print("\nChecking for duplicate rows...")
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

if duplicates > 0:
    df = df.drop_duplicates()
    print(f" Removed {duplicates} duplicate rows")
else:
    print("No duplicate rows found")

Checking for duplicate rows...
Number of duplicate rows: 0
No duplicate rows found

In [ ]:
print("\nCreating helpful new columns...")

# 1. Total spending across all categories
df['Total_Spending'] = (df['MntWines'] + df['MntFruits'] + df['MntMeatProducts'] + 
                       df['MntFishProducts'] + df['MntSweetProducts'] + df['MntGoldProds'])
print("Created Total_Spending column")

# 2. Total number of children
df['Total_Children'] = df['Kidhome'] + df['Teenhome']
print("Created Total_Children column")

# 3. Total number of purchases
df['Total_Purchases'] = (df['NumDealsPurchases'] + df['NumWebPurchases'] + 
                        df['NumCatalogPurchases'] + df['NumStorePurchases'])
print("Created Total_Purchases column")

# 4. How long someone has been a customer (in days)
df['Customer_Tenure_Days'] = (pd.to_datetime('today') - df['Dt_Customer']).dt.days
print("Created Customer_Tenure_Days column")

print("\nNew columns created successfully!")

Creating helpful new columns...
Created Total_Spending column
Created Total_Children column
Created Total_Purchases column
Created Customer_Tenure_Days column

New columns created successfully!

In [ ]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Total_Spending,Total_Children,Total_Purchases,Customer_Tenure_Days
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,0,0,0,3,11,1,1617,0,25,4818
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,0,0,0,3,11,0,27,2,6,4268
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,0,0,0,3,11,0,776,0,21,4467
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,0,0,0,3,11,0,53,1,8,4294
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,0,0,0,3,11,0,422,1,19,4316

In [ ]:
print("FINAL DATA CHECK")
print("=" * 50)

print(f"Final data shape: {df.shape}")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

print("\nData types:")
print(df.dtypes)

print("\nFirst 3 rows of cleaned data:")
print(df.head(3))

print("\nSome statistics:")
print(f"Average Income: ${df['Income'].mean():.2f}")
print(f"Average Total Spending: ${df['Total_Spending'].mean():.2f}")
print(f"Education levels: {df['Education'].unique().tolist()}")

FINAL DATA CHECK
==================================================
Final data shape: (2240, 33)
Rows: 2240, Columns: 33

Data types:
ID                               int32
Year_Birth                       int32
Education                     category
Marital_Status                category
Income                         float64
Kidhome                          int32
Teenhome                         int32
Dt_Customer             datetime64[ns]
Recency                          int32
MntWines                         int32
MntFruits                        int32
MntMeatProducts                  int32
MntFishProducts                  int32
MntSweetProducts                 int32
MntGoldProds                     int32
NumDealsPurchases                int32
NumWebPurchases                  int32
NumCatalogPurchases              int32
NumStorePurchases                int32
NumWebVisitsMonth                int32
AcceptedCmp3                     int32
AcceptedCmp4                     int32
AcceptedCmp5                     int32
AcceptedCmp1                     int32
AcceptedCmp2                     int32
Complain                         int32
Z_CostContact                    int32
Z_Revenue                        int32
Response                         int32
Total_Spending                   int32
Total_Children                   int32
Total_Purchases                  int32
Customer_Tenure_Days             int64
dtype: object

First 3 rows of cleaned data:
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0

  Dt_Customer  Recency  MntWines  ...  AcceptedCmp1  AcceptedCmp2  Complain  \
0  2012-09-04       58       635  ...             0             0         0
1  2014-03-08       38        11  ...             0             0         0
2  2013-08-21       26       426  ...             0             0         0

   Z_CostContact  Z_Revenue  Response  Total_Spending  Total_Children  \
0              3         11         1            1617               0
1              3         11         0              27               2
2              3         11         0             776               0

   Total_Purchases  Customer_Tenure_Days
0               25                  4818
1                6                  4268
2               21                  4467

[3 rows x 33 columns]

Some statistics:
Average Income: $52247.25
Average Total Spending: $605.80
Education levels: ['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle']

In [ ]:
# Save our cleaned data to a new file
df.to_csv('marketing_campaign_cleaned.csv', index=False)
print("\nCleaned data saved as 'marketing_campaign_cleaned.csv'")

# Let's also create a simple summary
print("\n" + "="*50)
print("CLEANING COMPLETE!")
print("="*50)
print("Your data has been successfully cleaned!")
print("You can now use this cleaned data for your analysis.")

Cleaned data saved as 'marketing_campaign_cleaned.csv'

==================================================
CLEANING COMPLETE!
==================================================
Your data has been successfully cleaned!
You can now use this cleaned data for your analysis.